.card {
    width: 100%;
    height: 100%;
    float: left;
    margin: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 600px;
}

.media {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-control-prev {
    justify-content: start;
}

.carousel-control-next {
    justify-content: end;
}

.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
}